version: "3"

services:
  postgres:
    container_name: postgres
    image: postgres:14.2
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "54321:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./migrations/init:/docker-entrypoint-initdb.d

#  migrations:
#    container_name: migration
#    build:
#      context: .
#      dockerfile: ./build/migrations/Dockerfile
#    depends_on:
#      - postgres
#    environment:
#      GOOSE_DRIVER: postgres
#      GOOSE_DBSTRING: "postgresql://postgres:postgres@postgres:5432/wombat?sslmode=disable"
#    command: [ "/bin/sh", "-c", "net-wait-go -addrs postgres:5432 && sleep 5 && /bin/goose up" ]